<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>MySkillsList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/mytemplate.css}"/>
</head>


<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            </button>
            <a class="navbar-brand" href="home.html">My Skills List</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <form class="form-signin myform"th:action="@{/signup}"  method="post">
        <h2 class="form-signin-heading">Please create new user</h2>
        <label for="inputEmail" class="sr-only">Email</label>
        <input th:value="${userNewDTO.email}" type="email" name="email" id="inputEmail" class="form-control formfield" placeholder="Email" required>

        <label for="username" class="sr-only">name</label>
        <input th:value="${userNewDTO.name}" type="text" id="username" name="name" class="form-control formfield" placeholder="Username" required autofocus>
        <label>select API Source</label>
        <select th:value="${apiURI}" class="form-control formfield" name="apiURI">
            <option value="http://localhost:8080/">http://localhost:8080/</option>
            <option value="http://51.144.236.66/">http://51.144.236.66/</option>
        </select>
        <button type="submit" class="btn btn-lg btn-primary btn-block formfield">Sign up</button>
    </form>

    <div>
        If you already have account please Sign In
    </div>
    <form th:action="@{/login}" method="get">

        <button type="submit" class="btn btn-lg btn-info btn-block formfield">Sign In</button>
    </form>
</div>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>



</html>
