<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<html>
<head>

    <title>MySkillsList</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/mytemplate.css}"/>
</head>


<body>
<nav th:replace="components/globalNavbar :: navbar"></nav>
<div class="container">
    <div th:replace="components/globalImage :: image"></div>
    <div class="row">
        <div th:replace="components/globalSidebar :: sidebar"></div>

        <div class=" col-xs-12 col-md-9">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Skill name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="skill : ${skills}">
                    <td th:text="${skill.id}">1</td>
                    <td th:text="${skill.skillName}">fishing</td>
                </tr>
                <tr>
                    <td>Add new</td>
                    <td>
                        <form th:action="@{/addNewSkill}" >
                            <div class="row">
                                <div class="col-md-8">
                                    <input  th:value="${newSkill.skillName}" name="skillName" type="text" class="form-control" required>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="form-control btn btn-sm btn-primary">Add new skill</button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
